<h2>Registra un incidente</h2>
<div class="row">
    <form class="col s12" method="POST" action="insertController.php">
      <div class="row">
          <div class="input-field col s12" >
            <select name="Lugar">
              <option value="" disabled selected>Selecciona una opción</option>
              <?php require_once('utils.php');
                require_once('util.php');
                  displayOptions(getLugares(),'nombre');
                ?>
            </select>
            <label for="Lugar">¿Dónde es el incidente?</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <select name="Tipo">
              <option value="" disabled selected>Selecciona una opción</option>
              <?php require_once('utils.php');
                require_once('util.php');
                  displayOptions(getTipos(),'denominacion');
                ?>
            </select>
            <label for="Tipo">¿Cuál es el incidente?</label>
        </div>
      </div>
      <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">Registrar
                <i class="material-icons right">send</i>
          </button>
      </div>
    </form>
  </div>