<h2>Registra un incidente</h2>
<div class="row">
    <form class="col s12" id="formRegistro">
      <div class="row">
          <div class="input-field col s12" >
            <select name="Lugar" id="listaLugares">
              <option value="" disabled selected>Selecciona una opción</option>
            </select>
            <label for="Lugar">¿Dónde es el incidente?</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <select name="Tipo" id="listaTipos">
              <option value="" disabled selected>Selecciona una opción</option>
              
            </select>
            <label for="Tipo">¿Cuál es el incidente?</label>
        </div>
      </div>
      <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">Registrar
                <i class="material-icons right">send</i>
          </button>
      </div>
    </form>
  </div>