    <h2>Incidentes <?php require_once('utils.php');
                         require_once('util.php');
                         echo numRows(getIncidents());?></h2>
      <table class="highlight">
        <thead>
          <tr>
              <th>Hora y fecha</th>
              <th>Lugar</th>
              <th>Tipo</th>
          </tr>
        </thead>

        <tbody>
          <?php require_once('utils.php');
                require_once('util.php');
                displayIncidents(getIncidents());
                ?>
        </tbody>
      </table>
      