    <h2>Incidentes (3)</h2>
      <table class="highlight">
        <thead>
          <tr>
              <th>Hora y fecha</th>
              <th>Lugar</th>
              <th>Tipo</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>2008-05-26 10:34am</td>
            <td>Robo de ADN</td>
            <td>Laboratorios</td>
          </tr>
          <tr>
            <td>2003-08-6 7:05am</td>
            <td>Centro turístico</td>
            <td>Fuga de TRex</td>
          </tr>
          <tr>
            <td>1985-03-15 7:45pm</td>
            <td>Laboratorios</td>
            <td>Fuga de herbívoro</td>
          </tr>
        </tbody>
      </table>
      