<div class="bg-secondary text-white" id="scripts">
<br/>
<h2>Scripts</h2>
<br/>
<form action="action.php" method="POST">
  <div class="form-group">
    <label for="fun1">1. Promedio de un arreglo de números</label>
    <input type="text" class="form-control" name="fun1" placeholder="Ingrese de qué tamaño quiere el arreglo">
  </div>
  <div class="form-group">
    <label for="fun2">2. Mediana de un arreglo de números</label>
    <input type="text" class="form-control" name="fun2" placeholder="Ingrese de qué tamaño quiere el arreglo">
  </div>
  <div class="form-group">
    <label for="fun3">3. Lista de números</label>
    <input type="text" class="form-control" name="fun3" placeholder="Ingrese de qué tamaño quiere el arreglo">
  </div>
  <div class="form-group">
    <label for="fun4">4. Tabla de cuadrados y cubos</label>
    <input type="text" class="form-control" name="fun4" placeholder="Ingrese un número">
  </div>
  <div class="form-group">
    <label for="fun5">5. Problema CodeForces 743C <a href="http://codeforces.com/problemset/problem/743/C" target=_blank class="text-white">Link</a></label>
    <input type="text" class="form-control" name="fun5" placeholder="Ingrese un número">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
</div>