<div class="bg-secondary text-white" id="scripts">
<br/>
<h2>Scripts</h2>
<br/>
<form action="funciones.php" method="POST">
  <div class="form-group">
    <label for="fun1">1. Promedio de un arreglo de números</label>
    <input type="text" class="form-control" id="fun1" placeholder="Ingrese números separados por comas">
  </div>
  <div class="form-group">
    <label for="fun2">2. Mediana de un arreglo de números</label>
    <input type="text" class="form-control" id="fun2" placeholder="Ingrese números separados por comas">
  </div>
  <div class="form-group">
    <label for="fun3">3. Lista de números</label>
    <input type="text" class="form-control" id="fun3" placeholder="Ingrese números separados por comas">
  </div>
  <div class="form-group">
    <label for="fun4">4. Tabla de cuadrados y cubos</label>
    <input type="text" class="form-control" id="fun4" placeholder="Ingrese un número">
  </div>
  <div class="form-group">
    <label for="fun5">5. Problema ACM</label>
    <input type="text" class="form-control" id="fun5" placeholder="Ingrese un número">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
</div>