<div class="preg" id="preguntas">
      <br/>
	  <h2>Preguntas</h2>
		<h3>¿Qué hace la función phpinfo()? Describe y discute 3 datos que llamen tu atención.</h3>
			  <p class="text-justify">
			   Muestra gran cantidad de información sobre el estado 
			   actual de PHP. Incluye información sobre las opciones 
			   de compilación y extensiones de PHP, versión de PHP, 
			   información del servidor y entrono (si se compiló como 
			   módulo), entorno PHP, versión del OS, rutas, valor de 
			   las opciones de configuración locales y generales, 
			   cabeceras HTTP y licencia de PHP. </br>
			   Me llamo la atención que se pueden ver los créditos de
			   PHP, las variables predefinidad de EGPCS (Environment, GET, POST, Cookie, Server), y
			   la licencia de PHP. <a href="#ref">[1]</a><br/>
		<h3>¿Qué cambios tendrías que hacer en la configuración del servidor para que pudiera ser apto en un ambiente de producción?</h3>
			<p class="text-justify">
				Se tienen que cambiar muchas opciones de configuración. Por ejemplo, los usuarios
				que tienen acceso de root, añadir certificados SSL, limitar los privilegios
				con los scripts, usar prepared statements, etc. <a href="#ref">[2]</a><br/>
		<h3>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.</h3>
			<p class="text-justify">
				El servidor es el que se encarga de cargar todos los archivos y scripts,
				y estos se despliegan para el cliente. Es decir, el cliente es el que usa la pagina,
				pero el servidor es quien la esta levantando. <a href="#ref">[3]</a><br/>
	   
	   <br/>
</div>