<div class="referencias" id="ref">
    <br/>
      <h3>Referencias</h3>
      <p class="text-left">[1] Guebs. "phpinfo". Internet: <a href="https://manuales.guebs.com/php/function.phpinfo.html" target=_blank>https://manuales.guebs.com/php/function.phpinfo.html</a>. [Feb. 18, 2019].<br/>
      <p class="text-left">[2] Anónimo. "Why is XAMPP not suited for production?". Internet: <a href="https://stackoverflow.com/questions/26297731/why-is-xampp-not-suited-for-production" target=_blank id="code">https://stackoverflow.com/questions/26297731/why-is-xampp-not-suited-for-production</a>. Oct. 10, 2014. [Feb. 18, 2019].<br/>
	  <p class="text-left">[3] I. Najjar. "Why can't server side and client side scripts interact?". Internet: <a href="https://stackoverflow.com/questions/26297731/why-is-xampp-not-suited-for-prhttps://stackoverflow.com/questions/19717668/why-cant-server-side-and-client-side-scripts-interact" target=_blank id="code">https://stackoverflow.com/questions/19717668/why-cant-server-side-and-client-side-scripts-interact</a>. Oct. 10, 2014. [Feb. 18, 2019].<br/>
    
    <br/>
</div>