/*Stylesheet for tienda*/
img{
  width: auto;
  height: 170px;
  float: top;
  border-radius: 8px;
  border-width: thin;
}

div.prod1{
  float: left;
}

div.prod2{

}

div.prod3{
  float: right;
}

div.productos{
  background-color: #adebad;
}

input[type="number"] {
    width: 100px;
    margin-bottom: 10px;
}

#but1, #but2, #but3{
  float: center;
}

#titl{
  text-align: center;
  font-family: sans-serif;
}

hr{
  border: 2px solid black;
}

.productos td, th {
  border-left: solid 2px black;
  font-family: courier;
  padding: 9px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.no-border{
  border-left: none;
}

table{
  background-color: #f2f2f2;
}

div.total{
  background-color: coral;
}

.total table{
  margin-left: auto;
  margin-right: auto;
}

#long{
  text-align: right;
}
