
	<div class="referencias bg-info text-white" id="ref">
    <br/>
      <h3>Referencias</h3>
      <p class="text-left">[1] Universidad de Alicante. "Modelo Vista Controlador (MVC)". Internet: <a href="https://stackoverflow.com/questions/26297731/why-is-xampp-not-suited-for-production" target=_blank id="code" class="text-white">https://si.ua.es/es/documentacion/asp-net-mvc-3/1-dia/modelo-vista-controlador-mvc.html</a> [Mar. 7, 2019].<br/>
      <p class="text-left">[2] W3Schools. "PHP 5 Global Variables - Superglobals". Internet: <a href="https://www.w3schools.com/php/php_superglobals.asp" target=_blank id="code" class="text-white">https://www.w3schools.com/php/php_superglobals.asp</a>. [Mar. 8, 2019].<br/>
	  	<p class="text-left">[3] W3Resource. "PHP : $_FILES, $_ENV, $_COOKIE, $_SESSION". Internet: <a href="https://www.w3resource.com/php/super-variables/$_FILES.php" target=_blank id="code" class="text-white">https://www.w3resource.com/php/super-variables/$_FILES.php</a>. Jul. 18, 2018. [Mar. 8, 2019].<br/>
			<p class="text-left">[4] M. Horne. "Learning PHP 101 – Built In Functions". Internet: <a href="https://matthewhorne.me/learning-php-101-built-in-functions/" target=_blank id="code" class="text-white">https://matthewhorne.me/learning-php-101-built-in-functions/</a>. [Mar. 8, 2019].<br/>
			<p class="text-left">[5] W3Schools. "PHP htmlspecialchars() Function". Internet: <a href="https://www.w3schools.com/php/func_string_htmlspecialchars.asp" target=_blank id="code" class="text-white">https://www.w3schools.com/php/func_string_htmlspecialchars.asp</a>. [Mar. 8, 2019].<br/>
			<p class="text-left">[6] OWASP. "Cross-site Scripting (XSS)". Internet: <a href="https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)" target=_blank id="code" class="text-white">https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)</a>. May. 6, 2018. [Mar. 8, 2019].<br/>

    <br/>
	</div>
