<div class="preg" id="preguntas">
      <br/>
	  <h2>Preguntas</h2>
		<h3>¿Qué es ODBC y para qué es útil?</h3>
			  Es una API de estándar abierto para acceder a una base de datos. Es útil porque permite
        realizar consultas que sean independientes al motor de base de datos, lo que hace más portable el código. <a href="#ref">[1]</a><br/>
		<h3>¿Qué es SQL Injection?</h3>
			<p class="text-justify">
				Es un tipo de ataque que hace que se ejecuten comandos maliciosos de SQL en una aplicación,
        logrando obtener información sensible, o incluso afectando la estabilidad de la base al
        borrar tablas. <a href="#ref">[2]</a><br/>
		<h3>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</h3>
			<p class="text-justify">
			  Se pueden hacer varias cosas, como validar el input del usuario, usar queries parametrizadas con
        prepared statements, no mostrar los errores internos de la base de datos, y mantener un log con los
        errores para poder solucionarlos en parches subsecuentes. <a href="#ref">[3]</a><br/>

	   <br/>
</div>
