<div class="preg" id="preguntas">
      <br/>
	  <h2>Preguntas</h2>
		<h3>¿A qué se refiere la descentralización de servicios web?</h3>
      <p class="text-justify">
        La ventaja es que se obtiene funcionalidad extra con unas pocas líneas de código, ya no es
        necesario desarrollar una herramienta porque existe y está probada. La desventaja es que al
        no haber sido hecha "in house" hay muchos métodos con los que podríamos no estar familiarizados, y si
        el API presenta algún bug es imposible para nosotros corregirlo. <a href="#ref">[1]</a><br/><br/>
    <br/>
    <h3>¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?</h3>
      <p class="text-justify">
        La ventaja es que se obtiene funcionalidad extra con unas pocas líneas de código, ya no es
        necesario desarrollar una herramienta porque existe y está probada. La desventaja es que al
        no haber sido hecha "in house" hay muchos métodos con los que podríamos no estar familiarizados, y si
        el API presenta algún bug es imposible para nosotros corregirlo. <a href="#ref">[1]</a><br/><br/>
    <br/>
</div>
