<div class="preg" id="preguntas">
      <br/>
	  <h2>Preguntas</h2>
		<h3>Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.</h3>
      <p class="text-justify">
        El diagrama está en un archivo llamado AJAX jQuery. <br/><br/>
		<h3>¿Qué alternativas a jQuery existen?</h3>
			<p class="text-justify">
				jQuery es una librería de JavaScript que permite utilizar menos líneas de código
        para realizar algunas funciones, esto significa que todo lo que hace jQuery
        podría hacerse con JavaScript plano. Otras alternativas son cash y UmbrellaJS. <a href="#ref">[1]</a><br/><br/>
    <br/>
</div>
