<div class="preg" id="preguntas">
      <br/>
	  <h2>Preguntas</h2>
		<h3>¿Por qué es una buena práctica separar el modelo del controlador?</h3>
			  Porque nos permite reemplazar alguna vista sin tener que cambiar la lógica, y facilita la implementación de nuevas
        funcionalidades al sistema. <a href="#ref">[1]</a><br/><br/>
		<h3>¿Qué es SQL injection y cómo se puede prevenir?</h3>
			<p class="text-justify">
				Es un tipo de ataque que hace que se ejecuten comandos maliciosos de SQL en una aplicación,
        logrando obtener información sensible, o incluso afectando la estabilidad de la base al
        borrar tablas. Se puede prevenir usando prepared statements, realizando validación antes de mandar
        los datos, y parchar vulnerabilidades. <a href="#ref">[2]</a><br/>
        <br/>
</div>
