
	<div class="referencias bg-info text-white" id="ref">
    <br/>
      <h3>Referencias</h3>
      <p class="text-left">[1] DXM. "Why decouple view and controller (web)?". Internet: <a href="https://softwareengineering.stackexchange.com/questions/119568/why-decouple-view-and-controller-web" target=_blank id="code" class="text-white">https://softwareengineering.stackexchange.com/questions/119568/why-decouple-view-and-controller-web</a> Nov. 14, 2011. [Mar. 26, 2019].<br/>
      <p class="text-left">[2] Acunetix. "What is SQL Injection (SQLi) and How to Prevent It". Internet: <a href="https://www.acunetix.com/websitesecurity/sql-injection/" target=_blank id="code" class="text-white">https://www.acunetix.com/websitesecurity/sql-injection/</a>. [Mar. 25, 2019].<br/>
	  	
    <br/>
	</div>
