/*Stylesheet for lab 4*/
body{
  font-family: verdana, sans-serif;
  background-color: #ccffff;
  margin: 0 auto;
  max-width: 50em;
}

#sc{
  color: #fff;
}

li{
  margin-bottom: 20px;
}

footer{
  color: #000;
	text-align: left;
  padding-left: 25px;
  background-color: #6699ff;
  padding-bottom: 0px;
  font-family: verdana, sans-serif;
  margin-bottom: 0px;
}

header{
  color: #000;
	text-align: center;
	font-weight: bold;
  background-color: #6699ff;
}

div.scripts{
  background-color: #6666ff;
  color: #000;
}

div.preg{
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ff9933;
  font-family: arial, sans-serif;
  text-align: justify;
}

#code{
  color: #fff;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

th, td {
  padding: 15px;
}

th{
  text-align: center;
  background-color: #666699;
  color: #fff;
}

td{
  text-align: left;
  /*margin:0;*/
}

tr:nth-child(even) {background-color: #f2f2f2;color: #000}
/*tr:nth-child(odd) {background-color: #cecedf;}*/

table{
  padding-left: 0px;
  margin-left: 0px;
  border-collapse: collapse;
  margin-top: 20px;
}

div.referencias{
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #66ff99;
  color: #000;
}

div.fun1{
  color: #000;
}

button{
  margin-left: 138px;
  margin-right: 50px;
}
