
	<div class="referencias bg-info text-white" id="ref">
    <br/>
      <h3>Referencias</h3>
      <p class="text-left">[1] PHP. "session_destroy". Internet: <a href="http://php.net/manual/en/function.session-destroy.php#refsect1-function.session-destroy-examples" target=_blank id="code" class="text-white">http://php.net/manual/en/function.session-destroy.php#refsect1-function.session-destroy-examples</a> [Mar. 17, 2019].<br/>
      <p class="text-left">[2] W3Schools. "PHP 5 Sessions". Internet: <a href="https://www.w3schools.com/php/php_sessions.asp" target=_blank id="code" class="text-white">https://www.w3schools.com/php/php_sessions.asp</a>. [Mar. 17, 2019].<br/>
	  	<p class="text-left">[3] T. Kimball. "How to Find a Facebook Photo ID". Internet: <a href="https://smallbusiness.chron.com/facebook-photo-id-26858.html" target=_blank id="code" class="text-white">https://smallbusiness.chron.com/facebook-photo-id-26858.html</a>. [Mar. 17, 2019].<br/>
			<p class="text-left">[4] G. Lou. "CSRF: The A-Z". Internet: <a href="https://medium.com/@GemmaBlack/csrf-the-a-z-2b85d26438b" target=_blank id="code" class="text-white">https://medium.com/@GemmaBlack/csrf-the-a-z-2b85d26438b</a>. May. 17, 2017. [Mar. 17, 2019].<br/>

    <br/>
	</div>
