<div class="preg" id="preguntas">
      <br/>
	  <h2>Preguntas</h2>
		<h3>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications)?</h3>
			  AJAX permite el intercambio de datos con el servidor de manera asíncrona, con lo que aumenta
        la velocidad de respuesta, llevándola a niveles que sólo se creían posibles con
        aplicaciones de escritorio. Y a diferencia de otras tecnologías no es necesario instalarla,
        ya que aprovecha que javascript ya está habilitado en la computadora del cliente. <a href="#ref">[1]</a><br/><br/>
		<h3>¿Qué implicaciones de seguridad tiene AJAX?¿Dónde se deben hacer las validaciones de seguridad, del lado del
    cliente o del lado del servidor?</h3>
			<p class="text-justify">
				AJAX al ser implementado con JavaScript, necesita que éste se encuentre habilitado en la página, y por
        la interacción con el servidor, debe validarse para evitar cualquier ataque, ya sea de Cross Site
        Scripting, Cross Site Request Forgery, o SQL Injection si se utiliza una base de datos. Por lo tanto las
        validaciones deben ser por ambos lados, cliente y servidor.  <a href="#ref">[2]</a><br/><br/>
    <h3>¿Qué es JSON?</h3>
  		  <strong>JSON</strong> es el acrónimo de JavaScript Object Notation, y es un formato ligero de intercambio
        de datos, está diseñado para ser sencillo para las personas de entender y para las máquinas de
        generarlo. <a href="#ref">[3]</a><br/>
    <br/>
</div>
