
	<div class="referencias bg-info text-white" id="ref">
    <br/>
      <h3>Referencias</h3>
      <p class="text-left">[1] L. Raul. "Tecnologías RIA (Rich Internet Applications) AJAX". Internet: <a href="http://exa.unne.edu.ar/informatica/SO/TFLino.pdf" target=_blank id="code" class="text-white">http://exa.unne.edu.ar/informatica/SO/TFLino.pdf</a> [Mar. 30, 2019].<br/>
      <p class="text-left">[2] U. Priss. "AJAX: Rich Internet Applications". Internet: <a href="http://www.upriss.org.uk/awt/lec7.pdf" target=_blank id="code" class="text-white">http://www.upriss.org.uk/awt/lec7.pdf</a>. [Mar. 30, 2019].<br/>
			<p class="text-left">[3] D. Crockford. "Introducing JSON". Internet: <a href="https://www.json.org/" target=_blank id="code" class="text-white">https://www.json.org/</a>. [Mar. 30, 2019].<br/>

    <br/>
	</div>
